* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.form {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.input {
    display: flex;
    flex-direction: column;
}
.input-button input {
    padding: 5px;
}